@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

/* Body */
body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 12px;
}

/* Main Container */
.container {
    width: 595.276px;
    height: 841.89px;
    display: flex;
}

/* LEFT BOX */
.leftBox {
    width: 35%;
    height: 100%;
    background-color: #2C3D4D;
    color: #ffffff;
    padding: 0px 18px;
}

/* 01. Personal Image Div */
.leftBox > .image {
    display: flex;
    justify-content: center;
    margin: 18px 0px 26px 0px;
}

/* Personal Image */
.leftBox > .image > img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}


/* 02. About Me, Contact Me Heading Div */
.headingDiv {
    margin-bottom: 18px;
}

/* heading of headingDiv */
.headingDiv .heading {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
}

/* text of heading */
.headingDiv p {
    margin: 2px 0px;
    text-align: justify;
}

/* 03. Icon and Text Div */
.icon_Detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

/* icon */
.icon_Detail > span {
    text-align: justify;
}

/* spacing of icon and text */
.icon_Detail .one {
    margin-left: 18px;
}
.icon_Detail .two {
    margin-left: 15px;
}
.icon_Detail .three {
    margin-left: 25px;
}


/* RIGHT BOX */
.rightBox {
    width: 65%;
    height: 100%;
    background-color: lightblue;
}

